
h1{
  color: #137696;
  text-align: center;
}

/*.product_wrapper{

}*/

.title{
  text-transform: uppercase;
}

.form{
  text-align: center;

}

#back_button{
  text-align: center;
}

.field{
  text-transform: capitalize;
}

/*.list{
  list-style-type: none;
}*/
