@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: sans-serif;
  src: url(/assets/Brandon_bld.otf);
}

h1{
  color: #137696;
  text-align: center;
}
.body{
  // padding-top: 70px;
}
// .form-group{
//   width:100%;
//   display: flex;
//   align-items: center;
// }
// .form-control{
//   width:auto;
//   align-items: center;
// }

#container{

  padding-top: 10px;
  margin: auto;
  width: 100%;
  background-color: blue;
  display: flex; // flexbox learn more
  align-items: center; // vertically and horizontally alighs each
  flex-wrap: wrap; //makes them responsive
}

.product_wrapper{
    width: 250px;
    margin: 10px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    background-color: #f3f3f3;
    box-shadow: 0 0 6px 2px #b0b2ab;
    padding-bottom: 3px;


}
.price{
  color: red;
}

.title{
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;

}

.description{
  text-transform: capitalize;

}

.form{
  text-align: center;
}

#back_button{
  text-align: center;
}

.field{
  text-transform: capitalize;
}

/*.list{
  list-style-type: none;
}*/
