/*
*= require 'masonry/transitions'
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: "brandon-grotesque";
  src: url(/assets/brandon.otf) format("truetype");
}

.glyphicon-heart{
  color: red;
}

html {
  background-color: #E9E9E9;
}
.navbar{
      font-family: "brandon-grotesque";
}
.body {
    font-family: "brandon-grotesque";
    background-color: #E9E9E9;
}
  h1{
    // color: #137696;
    text-align: center;
    font-family: "brandon-grotesque";
  }
    .box {
      font-family: "brandon-grotesque";
      margin: 0 auto;
      width: 100%;
      display: flex; // flexbox learn more
      align-items: center; // vertically and horizontally alighs each
      flex-wrap: wrap; //makes them responsive
      background-color: #E9E9E9;
    }
      .product_wrapper{
          font-family: "brandon-grotesque";
          width: 310px;
          margin: 10px;
          height: auto;
          border-radius: 7px;
          text-align: center;
          // background-color: #f3f3f3;
          // box-shadow: 0 0 6px 2px #b0b2ab;
          padding-bottom: 3px;
      }
        .image{
          max-width: 100%;
        	height: auto;
        }
          .price{
            color: red;
              font-family: "brandon-grotesque";
          }
            .title{
              font-family: "brandon-grotesque";
              text-transform: uppercase;
              font-weight: bold;
                      }
              .description{
                text-transform: capitalize;
              }


.show{
  font-family: "brandon-grotesque";
}


.edit{
  font-family: "brandon-grotesque";
  align-items: center;
  margin: auto;
  width: 60%;
}
  .form{
    text-align: center;
  }

#back_button{
  text-align: center;
}

.field{
  text-transform: capitalize;
}

/*.list{
  list-style-type: none;
}*/
