<nav class="navbar navbar-default navbar-fixed-top container-fluid">
  <%= link_to 'CATTOPIA', root_path, class: "navbar-brand"%>

  <div class="nav navbar-nav navbar-right ">
    <%= link_to 'Add Product', new_product_path, class: "btn btn-default navbar-btn" %>





  </div>











</nav>
