<div class="panel panel-default col-md-5 col-md-offset-3">

      <h1 class="panel-heading">Edit Entry</h1>
    <div class="panel-body">
      <%= render 'form' %>
<br>
<div class="btn-group pull-right">
      <%= link_to 'Show', @product, class:"btn btn-default" %>
      <%= link_to 'Back', products_path, class:"btn btn-default" %>
    </div>
    </div>
</div>
