<div class="panel panel-default col-md-5 col-md-offset-3">
<h1 class="panel-heading">New Cat</h1>

    <div class="panel-body">
    <%= render 'form' %>
    <br>
    <%= link_to 'Back', root_path %>
    </div>
  </div>
